{% extends 'layout/base.html.twig' %}

{% block title %}Médiateur Agréé{% endblock %}

{% block body %}

    <!-- ***** Main Banner Area Start ***** -->
    <section class="section main-banner" id="top" data-section="section1">

             <a href="meeting-details.html"><img class="image" src="{{ asset('assets/assets/images/boy.jpg') }}" alt="Online Teaching"></a>

        <div class="video-overlay header-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="caption">
                            <h2>La médiation, un autre regard sur le conflit</h2>

{#                            <div class="main-button-red">#}
{#                                <div class="scroll-to-section"><a href="#contact">Qui suis-je ?</a></div>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Main Banner Area End ***** -->

    <section class="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-service-item owl-carousel">

                        <div class="item">
                            <div class="icon">
                                <img src="{{ asset('assets/assets/images/coupler.png') }}" alt="">

                            </div>
                            <div class="down-content">
                                <h4 style="color: black">Médiation de couple</h4>


                            </div>
                        </div>

                        <div class="item">
                            <div class="icon">
                                <img src="{{ asset('assets/assets/images/separe.png') }}" alt="">
                            </div>
                            <div class="down-content">
                                <h4 style="color: black">Médiation et Séparation</h4>

                            </div>
                        </div>

                        <div class="item">
                            <div class="icon">
                                <img src="{{ asset('assets/assets/images/famille.png') }}" alt="">
                            </div>
                            <div class="down-content">
                                <h4 style="color: black">Médiation Parents-Ados</h4>

                            </div>
                        </div>

                        <div class="item">
                            <div class="icon">
                                <img src="{{ asset('assets/assets/images/grands-parents.png') }}" alt="">
                            </div>
                            <div class="down-content">
                                <h4 style="color: black"> parents/grands parents</h4>

                            </div>
                        </div>

                        <div class="item">
                            <div class="icon">
                                <img src="{{ asset('assets/assets/images/reunion.png') }}" alt="">
                            </div>
                            <div class="down-content">
                                <h4 style="color: black">Médiation au sein de la fratrie</h4>

                            </div>
                        </div>

                        <div class="item">
                            <div class="icon">
                                <img src="{{ asset('assets/assets/images/mediateur.png') }}" alt="">
                            </div>
                            <div class="down-content">
                                <h4 style="color: black">Les enfants en médiation</h4>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="upcoming-meetings" id="meetings">
        <div class="container-lg">
            <div class="row row-colis-1 row-colis-sm-colis-md-3">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Upcoming Meetings</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories">
                        <h4 style="text-align: center"> La médiation, un autre regard sur le conflit</h4>

                        <p> La médiation est un processus reconnu par la loi, volontaire, structuré et confidentiel mené par un tiers (le médiateur) qui aide les personnes à mieux communiquer, communiquer à nouveau et trouver par elles-mêmes une solution au conflit qui les oppose en tenant compte des besoins de chacun.<br><br> Professionnel neutre et impartial, le médiateur ne juge pas, ne décide pas ; il est le garant du cadre de la médiation. <br><br> Quand le processus aboutit à un accord et que le médiateur est agréé, les personnes sont libres de demander au juge compétent de l’homologuer; l’accord aura alors la valeur d’un jugement. <br><br>La médiation peut aussi aboutir à un accord partiel ou simplement restaurer le dialogue. <br><br> Médiateur agréé en matière familiale, sociale, civile et commerciale, je vous reçois dans un cadre sécurisé et bienveillant et vous aide à apaiser les tensions et les conflits quelques soient vos difficultés, séparation, divorce par consentement mutuel, problème de communication ou tout conflit au sein de la Famille,  votre travail, avec vos voisins, votre associé…</p>

                        <div class="main-button-red">
                            <a href="{{ path('app_contact') }}">Me contacter</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="meeting-item">
                                <div class="thumb">
                                    <div class="price">
                                    </div>
                                    <a href="{{ path('app_couple') }}"><img class="imgs" src="{{ asset('assets/assets/images/1.jpg') }}" alt="New Lecturer Meeting"></a>
                                </div>

                                <div class="down-content">
                                    <a style="margin-left:50px" href="meeting-details.html"><h4>Médiation de couple</h4></a>
                                    <p>Vous voulez que votre relation continue mais souhaitez que des choses changent<br>Votre couple traverse un moment difficile.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="meeting-item">
                                <div class="thumb">
                                    <div class="price">

                                    </div>
                                    <a href="{{ path('app_separatio') }}"><img class="imgs" src="{{ asset('assets/assets/images/2.jpg') }}" alt="Online Teaching"></a>
                                </div>

                                <div class="down-content">
                                    <a style="margin-left:50px" href="{{ path('app_separatio') }}"><h4>Médiation de couple</h4></a>
                                    <p>Vous voulez que votre relation continue mais souhaitez que des choses changent<br>Votre couple traverse un moment difficile.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="meeting-item">
                                <div class="thumb">
                                    <div class="price">

                                    </div>
                                    <a  href="{{ path('app_parent_ado') }}"><img class="imgs" src="{{ asset('assets/assets/images/3.jpg') }}" alt="Higher Education"></a>
                                </div>

                                <div class="down-content">
                                    <a style="margin-left:50px" href="{{ path('app_parent_ado') }}"><h4>Médiation Parents-Ados</h4></a>
                                    <p>Vous êtes en conflit avec l’un de vos enfants/ adolescents qui ne veut plus vous voir ou moins, ou vous êtes souvent en désaccord...</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="meeting-item">
                                <div class="thumb">
                                    <div class="price">

                                    </div>
                                    <a href="{{ path('app_parent_grand_p') }}"><img class="imgs" src="{{ asset('assets/assets/images/4.jpg') }}" alt="Student Training"></a>
                                </div>

                                <div class="down-content">
{#                                    <div class="date">#}
{#                                        <h6>Nov <span>30</span></h6>#}
{#                                    </div>#}
                                    <a style="margin-left: 50px" href="{{ path('app_parent_grand_p') }}"><h4>Médiation parents/grands parents</h4></a>
                                    <p>Vous êtes grands-parents en conflit avec votre enfant et ne pouvez plus être en lien avec vos petits-enfants ou inversement.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="meeting-item">
                                <div class="thumb">
                                    <div class="price">

                                    </div>
                                    <a href="{{ path('app_fratrie') }}"><img class="imgs" src="{{ asset('assets/assets/images/5.jpg') }}" alt="Student Training"></a>
                                </div>

                                <div class="down-content">
{#                                    <div class="date">#}
{#                                        <h6>Nov <span>30</span></h6>#}
{#                                    </div>#}
                                    <a style="margin-left: 50px" href="{{ path('app_fratrie') }}"><h4>Médiation au sein de la fratrie</h4></a>
                                    <p>Lorsque les membres de la famille prennent de l’âge, une discussion est souvent nécessaire notamment sur les conditions de vie et les soins à leur apporter.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="meeting-item">
                                <div class="thumb">
                                    <div class="price">

                                    </div>
                                    <a href="{{ path('app_enfant') }}"><img class="imgs" src="{{ asset('assets/assets/images/6.jpg') }}" alt="Student Training"></a>
                                </div>

                                <div class="down-content">
{#                                    <div class="date">#}
{#                                        <h6>Nov <span>30</span></h6>#}
{#                                    </div>#}
                                    <a style="margin-left: 70px" href="{{ path('app_enfant') }}"><h4>Les enfants en médiation</h4></a>
                                    <p>L’accueil de l’enfant dans la médiation de ses parents permet à votre enfant de s’exprimer dans un espace sécurisé, de parler de ce qu’il vit en toute confiance.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="apply-now" id="apply">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="item">
                                <h3>LA MEDIATION</h3>
                                <p>Gérer le conflit autrement.<br><br> Annabel Fava Médiatrice</p>
                                <div class="main-button-red">
                                    <a href="{{ path('app_contact') }}">Me contacter</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="accordions is-first-expanded">
                        <article class="accordion">
                            <div class="accordion-head">
                                <span>La Médiation c'est quoi?</span>
                                <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>Un processus mené par un tiers professionnel, neutre et indépendant (le médiateur), qui permet aux personnes (les médiés) dans un cadre sécurisé, de renouer le dialogue, de communiquer de manière plus apaisée et de trouver par elles-mêmes une issue au conflit qui les oppose.<br><br>

                                        Il s’agit d’une démarche volontaire, libre et responsable des personnes.
                                        Les personnes et le médiateur restent également libres d’arrêter la médiation à tout instant</p>
                                </div>
                            </div>
                        </article>
                        <article class="accordion">
                            <div class="accordion-head">
                                <span>La médiation à quel moments ?</span>
                                <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p><a rel="nofollow" href="#" target="_blank">A tout moment</a> : avant, pendant ou après une procédure judiciaire.<br>
                                        <a rel="nofollow" href="#" target="_blank">Avant</a> toute action en justice, la médiation évite l’escalade du conflit.<br>
                                        <a rel="nofollow" href="#" target="_blank">Pendant</a> une instance judiciaire, la médiation peut être demandée par les parties ou ordonnée par le juge avec leur accord.<br>
                                        <a rel="nofollow" href="#" target="_blank">Après</a> une décision de justice, elle peut permettre de trouver ensemble d’autres solutions plus adaptées.</p>
                                </div>
                            </div>
                        </article>
                        <article class="accordion">
                            <div class="accordion-head">
                                <span>Quels sont les avantages de la médiation ?</span>
                                <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p><a rel="nofollow" href="#" target="_blank">Alternative</a> efficace à une procédure judiciaire.<br>
                                        <a rel="nofollow" href="#" target="_blank">Processus</a> volontaire, vous et le médiateur restez libres de commencer la médiation et de l’arrêter à tout instant.<br>
                                        <a rel="nofollow" href="#" target="_blank">Suspension</a> de toutes procédures judiciaires le temps de la médiation.<br>
                                        <a rel="nofollow" href="#" target="_blank">Tiers neutre</a>, si solution il y a, c’est votre solution.<br>
                                        <a rel="nofollow" href="#" target="_blank">Tiers impartial</a>, au soutien de chacun d’entre vous.<br>
                                        <a rel="nofollow" href="#" target="_blank">Intervention</a> sur mesure, souple, créative et rapide.<br>
                                        <a rel="nofollow" href="#" target="_blank">Coût maîtrisé</a>.<br>
                                        <a rel="nofollow" href="#" target="_blank">Discrétion et confidentialité</a> des échanges.<br>
                                        <a rel="nofollow" href="#" target="_blank">Préservation</a> des relations.<br>
                                        <a rel="nofollow" href="#" target="_blank">Respect des besoins</a> et valeurs de chacun.</p>
                                </div>
                            </div>
                        </article>
                        <article class="accordion last-accordion">
                            <div class="accordion-head">
                                <span>Quelle est la différence entre la médiation volontaire et la médiation judiciaire</span>
                                <span class="icon">
                        <i class="icon fa fa-chevron-right"></i>
                    </span>
                            </div>
                            <div class="accordion-body">
                                <div class="content">
                                    <p>La médiation peut être volontaire, elle est entamée à l’initiative des parties qui décident de tenter une médiation, sans l’intervention d’un juge.<br>

                                        Elle peut aussi être judiciaire, le juge déjà saisi d‘un différend peut désigner un médiateur agréé à tout moment de la procédure, de sa propre initiative ou à la demande d’une ou des parties.<br>

                                        Si toutes les parties s’y opposent, le juge ne peut ordonner une médiation.<br>

                                        Cette démarche peut intervenir à tous les stades de la procédure judiciaire ; elle a pour conséquences de suspendre la procédure.<br>

                                        Dans les deux cas, à l’issue de la médiation, si un accord est intervenu, les parties sont libres de demander au tribunal une homologation de leur accord afin de lui conférer la valeur d’un jugement, pour autant que le médiateur soit agréé.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-us" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 align-self-center">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="contact" action="" method="post">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h2>Contactez-moi</h2>
                                    </div>
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <input name="name" type="text" id="name" placeholder="Votre Nom...*" required="">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="EMAIL..." required="">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-4">
                                        <fieldset>
                                            <input name="subject" type="text" id="subject" placeholder="Sujet...*" required="">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <textarea name="message" type="text" class="form-control" id="message" placeholder="Votre Méssage..." required=""></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="button">Envoyer</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="right-info">
                        <ul>
                            <li>
                                <h6>Numéro de téléphone</h6>
                                <a href="tel:+32494673723"><span>+32 494 67 37 23</span></a></p>
                            </li>
                            <li>
                                <h6>Adresse Mail</h6>
                                <a href="mailto:annabel.fava@gmail.com"><span>annabel.fava@gmail.com</span></a>
                            </li>
                            <li>
                                <h6>Addresse</h6>
                                <span><a href="https://burotel.be/fr/"><span>Bureaux</span></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
