<!-- Sub Header -->
<div class="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <div class="left-content">
                    <p>Contactez-moi : <a href="mailto:annabel.fava@gmail.com"><em>annabel.fava@gmail.com</em></a> | ou par tel :<a href="tel:+32494673723"><em> +32 494 67 37 23</em></a></p>

                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="right-icons">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{{ path('app_home_page') }}" class="logo">
                        <img src="{{ asset('assets/assets/images/logo-3.png') }}">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">

{#                        <li><a href="{{ path('app_home_page') }}" class="active">Home</a></li>#}
                        <li><a href="{{ path('app_couple') }}">Couple</a></li>
                        <li><a href="{{ path('app_separatio') }}">Séparation</a></li>
                        <li><a href="meetings.html">Parents-Ados</a></li>
                        <li class="has-sub">
                            <a href="javascript:void(0)">Parents/Grand-Parents</a>
                            <ul class="sub-menu">
                                <li><a href="meeting-details.html"></a></li>
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a href="#courses">Au sein de la fratrie</a></li>
                        <li class="scroll-to-section"><a href="#courses">Les Enfants</a></li>
{#                        <li class="scroll-to-section"><a href="#contact">Contact</a></li>#}
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->