<!-- Sub Header -->
<div class="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <div class="left-content">
                    <p>Me contacter : <a href="mailto:annabel.fava@gmail.com"><em>annabel.fava@gmail.com</em></a> | ou par tel :<a href="tel:+32494673723"><em> +32 494 67 37 23</em></a></p>

                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="right-icons">
                    <ul>
                        <li><a href="tel:+32494673723"><i class="fa fa-phone"></i></a></li>
                        <li><a href="mailto:annabel.fava@gmail.com"><i class="fa fa-envelope"></i></a></li>
                        <li><a href="https://www.facebook.com/LaMediationFamiliale/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/annabel-fava-a9b669134/?originalSubdomain=be"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="{{ path('app_contact') }}"><i class="fa fa-user"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{{ path('app_home_page') }}" class="logo">
                        <img src="{{ asset('assets/assets/images/logo-3.png') }}">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="{{ path('app_home_page') }}"><i class="fa fa-home"></i></a></li>
                        {#<li><a href="{{ path('app_home_page') }}" class="active">Home</a></li>#}
                        <li><a href="{{ path('app_couple') }}">Couple</a></li>
                        <li><a href="{{ path('app_separatio') }}">Séparation</a></li>
                        <li><a href="{{ path('app_parent_ado') }}">Parents-Ados</a></li>
                        <li><a href="{{ path('app_parent_grand_p') }}">Parents/Grand-Parents</a></li>
                        <li><a href="{{ path('app_fratrie') }}">la fratrie</a></li>
                        <li><a href="{{ path('app_enfant') }}">Les Enfants</a></li>
                        <li><a href="{{ path('app_faq') }}">FAQ</a></li>

                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->